/*@import url(firefox-csshacks/chrome/window_control_placeholder_support.css);*/
/*@import url(firefox-csshacks/chrome/hide_tabs_toolbar_osx.css);*/

@media (-moz-bool-pref: "sidebar.verticalTabs") {
  #sidebar-main {
    visibility: collapse;
  }
}
@media not (-moz-bool-pref: "sidebar.verticalTabs") {
  #TabsToolbar {
    visibility: collapse;
  }
  :root[sizemode="fullscreen"] #nav-bar > .titlebar-buttonbox-container {
    display: flex !important;
  }
  :root[tabsintitlebar] #toolbar-menubar:not([autohide="false"]) ~ #nav-bar {
    & > .titlebar-buttonbox-container {
      display: flex !important;
    }
    :root[sizemode="normal"] & {
      & > .titlebar-spacer {
        display: flex !important;
      }
    }
    :root[sizemode="maximized"] & {
      & > .titlebar-spacer[type="post-tabs"] {
        display: flex !important;
      }
    }
  }
}

/* Remove the sidebery header */
#sidebar-header {
  display: none;
}

/* Make the sidebery sidebar at least 100 px width to avoid collapsing */
#sidebar-box {
  min-width: 100px !important;
}
